<div class="row bg-image"
  style="
    background-image: url('https://res.cloudinary.com/babylist/image/upload/f_auto,q_auto:best,c_scale,w_768/v1468362210/canadaianbaby-featured_s3t55q.jpg');
    height: 100vh;">
  <div class="col-md-6 m-auto">
    <div class="container mt-5 pl-5">
      <h2 class="text-center">Create New Account</h2>
      <form action="/signup" method="post">
        <div class="form-group">
          <label>Name</label>
          <input
            type="name"
            class="form-control mb-2"
            name="Name"
            placeholder="Enter name"
          />
        </div>
        <div class="form-group">
          <label>Email Adress</label>
          <input
            type="email"
            class="form-control mb-2"
            name="Email"
            placeholder="Enter email"
          />
        </div>
        <div class="form-group">
          <label>Password</label>
          <input
            type="password"
            class="form-control mb-2"
            name="Password"
            placeholder="Password"
          />
        </div>
        <a href="/login" class="text-decoration-none">Already have account ?</a>
        <button
          type="submit"
          class="btn btn-primary float-end mt-1"
        >Signup</button>
      </form>
    </div>
  </div>
</div>


